body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../images/open-book-on-a-table-with-stacks-of-books-on-the-sides-blurred-old-library-on-a-background-photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.info-group {
    background: white;
    padding: 25px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005fa3;
}

#error_msg {
 
    color: red;
    font-size: 14px;
}