<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookShop</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--Home CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <!-- CSS for social media icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body id="home">

<nav class="navbar navbar-expand-lg bg-light border-bottom px-3">

    <!-- Logo -->
    <a class="navbar-brand fw-bold me-4" href="#home">
        BookShop
    </a>

    <!-- Categories dropdown list -->
    <!-- Categories dropdown -->
<div class="dropdown me-3">

    <button class="btn btn-light border dropdown-toggle"
            data-bs-toggle="dropdown">
        Categories
    </button>

    <ul class="dropdown-menu">

        {% for category in categories %}

        <li>
            <a class="dropdown-item"
               href="#category-{{ category.id }}">
                {{ category.name }}
            </a>
        </li>

        {% endfor %}

    </ul>

</div>

    <!-- Section of each page links -->
<ul class="navbar-nav">

    <li class="nav-item">
        <a class="nav-link" href="#home">
            Home
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#policies">
            Policies
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#about">
            About Us
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#contact">
            Contact Us
        </a>
    </li>

</ul>

    <!-- Right side of the navbar -->
    <div class="ms-auto d-flex align-items-center">

        <!-- Search -->
        <a href="{{ url_for('search') }}"
           class="btn btn-outline-dark rounded-circle me-2">
            <i class="bi bi-search"></i>
        </a>

        <!-- Cart -->
        <a href="{{ url_for('cart') }}"
           class="btn btn-outline-dark rounded-circle me-2">
            <i class="bi bi-cart3"></i>
        </a>

        <!-- Profile -->
        <div class="dropdown">

    <button class="btn btn-outline-dark dropdown-toggle"
            data-bs-toggle="dropdown">

        <i class="bi bi-person-circle"></i>

        {% if session.get('username') %}
            {{ session['username'] }}
        {% else %}
            Account
        {% endif %}

    </button>

    <ul class="dropdown-menu dropdown-menu-end">

        {% if session.get('username') %}

            <li>
                <span class="dropdown-item-text fw-bold">
                    {{ session['username'] }}
                </span>
            </li>

            <li><hr class="dropdown-divider"></li>

            <li>
                <a class="dropdown-item text-danger"
                   href="{{ url_for('logout') }}">
                    Logout
                </a>
            </li>

        {% else %}

            <li>
                <a class="dropdown-item"
                   href="{{ url_for('login') }}">
                    Login
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   href="{{ url_for('register') }}">
                    Register
                </a>
            </li>

        {% endif %}

    </ul>

</div>

</nav>

<div class="container">
    <div class="welc-msg">
    <h2>Welcome to our BookShop</h2>
    <p>Ready to Choose Your Next Book Friend!</p>
    </div>

{% for category in categories %}

<section id="category-{{ category.id }}" class="category">


    <h2>{{ category.name }}</h2>

    <div class="books-grid">

        {% for book in category.books %}
            <!-- Book Card -->
        {% endfor %}

    </div>

</section>

{% endfor %}
        

<!--Footer section-->
<!--Policies section-->

            <section id="policies" class="info-section">

    <h2>Policies</h2>

    <div class="policy-box">

        <h4>Shipping</h4>
        <p>
            Orders are processed within 3–5 business days.
        </p>
    </div>

    <div class="policy-box">
        <h4>Returns</h4>
        <p>
            Books can be returned within 14 days if they are in their original condition.
        </p>
    </div>

    <div class="policy-box">
        <h4>Payment</h4>
        <p>
            We accept cash on delivery only.
        </p>
    </div>

        </section>


<!--About section-->

<section id="about" class="info-section">

    <h2>About Us</h2>
    <p>

        Welcome to our online bookstore.

        Our goal is to make reading accessible by offering books from many categories at affordable prices.

       Find the latest bestsellers, classics, and unique titles from the whole world, and we hope you'll find something you enjoy.

    </p>

</section>


<!--Contact section-->

<section id="contact" class="info-section">

    <h2>Contact Us</h2>

    <p>Email: bookshop@gmail.com</p>

    <p>Phone: +20 7XXXXXXXX</p>

    <p>Address: Cairo, Egypt</p>

    <p>Follow us on social media:</p>

    <p>
        <a href="https://facebook.com/bookshop" class="fa fa-facebook"></a>
        | <a href="https://instagram.com/bookshop" class="fa fa-instagram"></a>
    </p>

</section>


</div>

<!-- Attached js file of bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>