<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Register</title>
</head>
<body>

    <form>
        <div class="info-group">

            <label for="username">Name</label>
            <input type="text" id="username" placeholder="Enter your Name" required>

            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your Email" required>

            <label for="pass">Password</label>
            <input type="password" id="pass" placeholder="Enter your Password" required>

            <label for="conf_pass">Confirm Password</label>
            <input type="password" id="conf_pass" placeholder="Confirm Password" required autocomplete="new-password">
            <span id="error_msg"></span>

            <button type="submit" name="Login" id="loginbtn">Register</button>

            <p>Already have an account? <a href="login.html">Login</a></p>

        </div>
    </form>
    <script src="../static/js/script.js"></script>
</body>
</html>